.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}
body{
    background: #0f172a;
    color: white;
    line-height: 1.6;
}
/*loader*/

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

headerh1{
    font-size: 3rem;
}

.typing{
    color: #38bdf8;
    margin: 15px;

}

.buttons a{
    padding: 10px 20px;
    margin: 10px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;

}

.buttons a:hover{
    transform: scale(1.1);
}
/*sections*/

section{
    padding: 80px 10%;
}

h2{
    color: #38bdf8;
    margin-bottom: 20px;
}

/*skill*/

.skill-box span{
    display: inline-block;
    background: #1e293b;
    padding: 10px 15px;
    margin: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

.skill-box span:hover{
    background: #38bd8;
    color:black;
}

/*projects*/

.project-card{
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    transition: 0.4s;

}

.project-card:hover{
    transform: translatey(-10px);
    border-left: 5px solid #38bdf8;

}

/*footer*/

footer{
    text-align: center;
    padding: 20px;
    background: black;
}
